ARIA5ERP/Aria5-SystemAdmin V15.1.2-Date 09-09-2019/Aria5-SystemAdmin V15.1.2/Aria5SystemAdmin.Web/Service References/ServiceReferenceClientService/ClientService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ra.ariany.com/Client Manager/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core.Utilites" />
  <xs:import schemaLocation="http://ra.ariany.com/Client Manager/ClientService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:element name="CreateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core.Utilites" minOccurs="0" name="options" nillable="true" type="q1:Settings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="CreateClientResult" nillable="true" type="q2:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>