ARIA5ERP/Aria5-SystemAdmin V15.1.2-Date 09-09-2019/Aria5-SystemAdmin V15.1.2/WindowsFormsApplication1/Service References/AccountWebservice/AccountWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetAccountStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="account" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="account" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountObjectResult" type="tns:AccountMarshalling" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AccountMarshalling">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CategoryOid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TradeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InternalContactNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Guide" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusSer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountOid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClassificationId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetNewAccountObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="account" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewAccountObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewAccountObjectResult" type="tns:NewAccountMarshalling" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NewAccountMarshalling">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TradeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InternalContactNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Guide" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusSer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressTypeDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressContactName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PersonOid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Department" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NickName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SpouseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salutation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PositionTitle" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Position" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TitleOfCourtesy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WebPageAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentContact" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PhoneType" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneTypeDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterNewAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="account" type="tns:AccountMarshalling" />
            <s:element minOccurs="0" maxOccurs="1" name="person" type="tns:PersonMarshalling" />
            <s:element minOccurs="0" maxOccurs="1" name="contactAddress" type="tns:ContactAddressMarshalling" />
            <s:element minOccurs="0" maxOccurs="1" name="contactPhone" type="tns:ContactPhoneMarshalling" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PersonMarshalling">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MiddleName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Department" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NickName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SpouseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salutation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PositionTitle" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Position" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TitleOfCourtesy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WebPageAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentContact" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactAddressMarshalling">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegionName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactPhoneMarshalling">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PhoneType" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneTypeDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterNewAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterNewAccountResult" type="tns:RegisterNewAcountResultMarshalling" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RegisterNewAcountResultMarshalling">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PersonGuid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountGuid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDemoGuideCategories">
        <s:complexType />
      </s:element>
      <s:element name="GetDemoGuideCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDemoGuideCategoriesResult" type="tns:ArrayOfCategoriesDataType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCategoriesDataType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CategoriesDataType" nillable="true" type="tns:CategoriesDataType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CategoriesDataType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CategoryId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoryOid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllDemoAccounts">
        <s:complexType />
      </s:element>
      <s:element name="GetAllDemoAccountsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDemoAccountsResult" type="tns:ArrayOfAccountMarshalling" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAccountMarshalling">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountMarshalling" nillable="true" type="tns:AccountMarshalling" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDemoAccountsForCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDemoAccountsForCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDemoAccountsForCategoryResult" type="tns:ArrayOfAccountMarshalling" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDemoAccountsForStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatusID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDemoAccountsForStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDemoAccountsForStatusResult" type="tns:ArrayOfAccountMarshalling" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategoryByAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="account" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCategoryByAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoryByAccountResult" type="tns:CategoriesDataType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountStatus" />
  </wsdl:message>
  <wsdl:message name="GetAccountStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountObject" />
  </wsdl:message>
  <wsdl:message name="GetAccountObjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountObjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewAccountObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewAccountObject" />
  </wsdl:message>
  <wsdl:message name="GetNewAccountObjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewAccountObjectResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterNewAccountSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterNewAccount" />
  </wsdl:message>
  <wsdl:message name="RegisterNewAccountSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterNewAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetDemoGuideCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetDemoGuideCategories" />
  </wsdl:message>
  <wsdl:message name="GetDemoGuideCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetDemoGuideCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDemoAccountsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllDemoAccounts" />
  </wsdl:message>
  <wsdl:message name="GetAllDemoAccountsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDemoAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDemoAccountsForCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetDemoAccountsForCategory" />
  </wsdl:message>
  <wsdl:message name="GetDemoAccountsForCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetDemoAccountsForCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetDemoAccountsForStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetDemoAccountsForStatus" />
  </wsdl:message>
  <wsdl:message name="GetDemoAccountsForStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetDemoAccountsForStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetCategoryByAccountSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategoryByAccount" />
  </wsdl:message>
  <wsdl:message name="GetCategoryByAccountSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoryByAccountResponse" />
  </wsdl:message>
  <wsdl:message name="CheckEmailSoapIn">
    <wsdl:part name="parameters" element="tns:CheckEmail" />
  </wsdl:message>
  <wsdl:message name="CheckEmailSoapOut">
    <wsdl:part name="parameters" element="tns:CheckEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="AccountWebServiceSoap">
    <wsdl:operation name="GetAccountStatus">
      <wsdl:input message="tns:GetAccountStatusSoapIn" />
      <wsdl:output message="tns:GetAccountStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountObject">
      <wsdl:input message="tns:GetAccountObjectSoapIn" />
      <wsdl:output message="tns:GetAccountObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewAccountObject">
      <wsdl:input message="tns:GetNewAccountObjectSoapIn" />
      <wsdl:output message="tns:GetNewAccountObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterNewAccount">
      <wsdl:input message="tns:RegisterNewAccountSoapIn" />
      <wsdl:output message="tns:RegisterNewAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDemoGuideCategories">
      <wsdl:input message="tns:GetDemoGuideCategoriesSoapIn" />
      <wsdl:output message="tns:GetDemoGuideCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDemoAccounts">
      <wsdl:input message="tns:GetAllDemoAccountsSoapIn" />
      <wsdl:output message="tns:GetAllDemoAccountsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDemoAccountsForCategory">
      <wsdl:input message="tns:GetDemoAccountsForCategorySoapIn" />
      <wsdl:output message="tns:GetDemoAccountsForCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDemoAccountsForStatus">
      <wsdl:input message="tns:GetDemoAccountsForStatusSoapIn" />
      <wsdl:output message="tns:GetDemoAccountsForStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryByAccount">
      <wsdl:input message="tns:GetCategoryByAccountSoapIn" />
      <wsdl:output message="tns:GetCategoryByAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckEmail">
      <wsdl:input message="tns:CheckEmailSoapIn" />
      <wsdl:output message="tns:CheckEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountWebServiceSoap" type="tns:AccountWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountStatus">
      <soap:operation soapAction="http://tempuri.org/GetAccountStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountObject">
      <soap:operation soapAction="http://tempuri.org/GetAccountObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewAccountObject">
      <soap:operation soapAction="http://tempuri.org/GetNewAccountObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewAccount">
      <soap:operation soapAction="http://tempuri.org/RegisterNewAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemoGuideCategories">
      <soap:operation soapAction="http://tempuri.org/GetDemoGuideCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDemoAccounts">
      <soap:operation soapAction="http://tempuri.org/GetAllDemoAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemoAccountsForCategory">
      <soap:operation soapAction="http://tempuri.org/GetDemoAccountsForCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemoAccountsForStatus">
      <soap:operation soapAction="http://tempuri.org/GetDemoAccountsForStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryByAccount">
      <soap:operation soapAction="http://tempuri.org/GetCategoryByAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEmail">
      <soap:operation soapAction="http://tempuri.org/CheckEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccountWebServiceSoap12" type="tns:AccountWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountStatus">
      <soap12:operation soapAction="http://tempuri.org/GetAccountStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountObject">
      <soap12:operation soapAction="http://tempuri.org/GetAccountObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewAccountObject">
      <soap12:operation soapAction="http://tempuri.org/GetNewAccountObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterNewAccount">
      <soap12:operation soapAction="http://tempuri.org/RegisterNewAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemoGuideCategories">
      <soap12:operation soapAction="http://tempuri.org/GetDemoGuideCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDemoAccounts">
      <soap12:operation soapAction="http://tempuri.org/GetAllDemoAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemoAccountsForCategory">
      <soap12:operation soapAction="http://tempuri.org/GetDemoAccountsForCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemoAccountsForStatus">
      <soap12:operation soapAction="http://tempuri.org/GetDemoAccountsForStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryByAccount">
      <soap12:operation soapAction="http://tempuri.org/GetCategoryByAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckEmail">
      <soap12:operation soapAction="http://tempuri.org/CheckEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountWebService">
    <wsdl:port name="AccountWebServiceSoap" binding="tns:AccountWebServiceSoap">
      <soap:address location="http://15e3a99f26ef43839c48460492e12e01.cloudapp.net/WebServices/AccountWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AccountWebServiceSoap12" binding="tns:AccountWebServiceSoap12">
      <soap12:address location="http://15e3a99f26ef43839c48460492e12e01.cloudapp.net/WebServices/AccountWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>