ARIA5ERP/Aria5-SystemAdmin V15.1.2-Date 09-09-2019/Aria5-SystemAdmin V15.1.2/Aria5SystemAdmin.Web/Service References/DataService/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core.Utilites" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core.Utilites" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SQLInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Admin" nillable="true" type="tns:Credential" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Credential" />
      <xs:element minOccurs="0" name="DataBaseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQLInfo" nillable="true" type="tns:SQLInfo" />
  <xs:complexType name="Credential">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credential" nillable="true" type="tns:Credential" />
</xs:schema>